Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

frontend-linter:
  run: yarn lint {staged_files}

backend-linter:
  run: yarn lint {staged_files}

fix
  packages/client/package.json
  packages/client/serviceWorker/sw-build.ts
  packages/client/serviceWorker/sw.js
  packages/client/serviceWorker/sw.ts
  packages/client/tsconfig.sw.json
Due: frontend-linter

fix part 2
  packages/client/tsconfig.sw.json
  yarn.lock
Due: none

feature:(WIZ-51) first view on forum
  packages/client/.stylelintrc.json
  packages/client/src/features/Forum/Forum.scss
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/features/Forum/Posts/Posts.tsx
  packages/client/src/features/Forum/Posts/index.ts
  packages/client/src/features/Forum/Topic/Topic.scss
  packages/client/src/features/Forum/Topic/Topic.tsx
  packages/client/src/features/Forum/Topics/Topics.scss
  packages/client/src/features/Forum/Topics/Topics.tsx
  packages/client/src/features/Forum/Topics/common.ts
  packages/client/src/features/Forum/Topics/index.ts
  packages/client/src/features/Forum/common.ts
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/ForumPage/ForumPage.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/translations/locales/ru.json
  yarn.lock
Due: frontend-linter

fix docker build
  Dockerfile.server
  docker-compose.yml
  packages/server/index.ts
  yarn.lock
Due: backend-linter

fixed for review
  packages/client/no-cache-no-network.html
  packages/client/serviceWorker/sw-build.ts
  packages/client/serviceWorker/sw.ts
  packages/client/sw.config.json
Due: frontend-linter

adds connection to the postgresql
  .env.sample
  Dockerfile.server
  docker-compose.yml
  packages/server/db.ts
  packages/server/index.ts
  wait-for
Due: backend-linter

adds pgadmin4 docker container
  docker-compose.yml
  init.js
Due: none

adds sequelize
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: backend-linter

removes unnecessary directives in docker-compose.yml and Dockerfile.server
  Dockerfile.server
  docker-compose.yml
Due: none

adds db connection string for development mode
  packages/server/db.ts
Due: backend-linter

adds info for development mode with docker in README.md
  README.md
Due: none

fixes README.md screenshots
  README.md
  readme-1.webp
  readme-2.webp
  readme-3.webp
Due: none

feature:(WIZ-51) wiping before createApi
  packages/client/db.json
  packages/client/package.json
  packages/client/src/api/forum.api.ts
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.scss
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.tsx
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.scss
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.tsx
  packages/client/src/features/Forum/PreviewTopics/common.ts
  packages/client/src/features/Forum/PreviewTopics/index.ts
  packages/client/src/features/Forum/Topic/Topic.tsx
  packages/client/src/features/Forum/Topics/Topics.scss
  packages/client/src/features/Forum/Topics/Topics.tsx
  packages/client/src/features/Forum/Topics/index.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useFetchPosts.tsx
  packages/client/src/hooks/useFetchTopics.tsx
  packages/client/src/hooks/useFetchUsers.tsx
  packages/client/src/models/forum.model.ts
  yarn.lock
Due: frontend-linter

renames Dockerfile.server to Dockerfile
  Dockerfile
  docker-compose.yml
  packages/server/db.ts
Due: backend-linter

Feature/wiz 52 (#33)
  .env.sample
  Dockerfile
  README.md
  docker-compose.yml
  init.js
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  readme-1.webp
  readme-2.webp
  readme-3.webp
  wait-for
  yarn.lock
Due: backend-linter

wraps db client logic into DBClient class
  packages/server/db.ts
  packages/server/index.ts
Due: backend-linter

feature:(WIZ-51) GET Topics
  .gitignore
  packages/client/db.json
  packages/client/package.json
  packages/client/public/vite.svg
  packages/client/src/api/baseApi.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/app/store.ts
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.scss
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.tsx
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.tsx
  packages/client/src/features/Header/Header.scss
  packages/client/src/models/forum.model.ts
  packages/client/src/styles/vars.scss
  yarn.lock
Due: frontend-linter

feature:(WIZ-51) POST Topics
  packages/client/src/api/forum.api.ts
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.scss
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/CreateTopicModal/common.ts
  packages/client/src/features/Forum/CreateTopicModal/index.ts
  packages/client/src/features/Forum/Forum.scss
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/ForumPage/ForumPage.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/styles/common.scss
  packages/client/src/styles/main.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

feature:(WIZ-51) edits topic layout
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.scss
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
Due: frontend-linter

коммит
  packages/client/package.json
  packages/client/src/components/EmodjiList/EmodjiList.tsx
  packages/server/controllers/EmotionController.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/Emotion.ts
  packages/server/models/Topic.ts
  packages/server/router/emotionRouter.ts
  yarn.lock
Due: frontend-linter, backend-linter

контроллер для эмоций
  packages/server/controllers/EmotionController.ts
  packages/server/index.ts
  packages/server/models/Emotion.ts
  packages/server/models/Topic.ts
Due: backend-linter

контроллер для эмоций
  packages/server/controllers/EmotionController.ts
  packages/server/index.ts
  packages/server/models/Emotion.ts
Due: backend-linter

удаление
  packages/server/controllers/EmotionController.ts
  packages/server/router/emotionRouter.ts
Due: backend-linter

add forum backend (api)
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
  packages/server/constant.ts
  packages/server/controllers/ForumController.ts
  packages/server/db.ts
  packages/server/helpers/createErrorResponse.ts
  packages/server/helpers/createSuccessResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/isArrays.ts
  packages/server/helpers/isNumbers.ts
  packages/server/helpers/isObjects.ts
  packages/server/helpers/isStrings.ts
  packages/server/helpers/responseApi.ts
  packages/server/index.ts
  packages/server/models/Api.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Topic.ts
  packages/server/package.json
  packages/server/routers/api.router.ts
  packages/server/routers/forum.router.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  packages/server/vite.config.ts
  yarn.lock
Due: backend-linter

fixed
  package-lock.json
  package.json
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
  packages/server/controllers/ForumController.ts
  packages/server/db.ts
  packages/server/helpers/createErrorResponse.ts
  packages/server/helpers/createSuccessResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/isArrays.ts
  packages/server/helpers/isNumbers.ts
  packages/server/helpers/isObjects.ts
  packages/server/helpers/isStrings.ts
  packages/server/helpers/responseApi.ts
  packages/server/index.ts
  packages/server/models/Api.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Topic.ts
  packages/server/routers/api.router.ts
  packages/server/routers/forum.router.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  packages/server/vite.config.ts
  yarn.lock
Due: backend-linter

фиксы
  packages/client/src/components/EmodjiList/EmodjiList.tsx
  packages/server/index.ts
Due: frontend-linter, backend-linter

feature:(WIZ-51) forum front without backend
  packages/client/db.json
  packages/client/src/api/forum.api.ts
  packages/client/src/components/TopicUserInfo/TopicUserInfo.tsx
  packages/client/src/features/Forum/Comment/Comment.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.scss
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.tsx
  packages/client/src/features/Forum/PreviewTopic/common.ts
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.tsx
  packages/client/src/features/Forum/Replies/Replies.tsx
  packages/client/src/features/Forum/Reply/Reply.scss
  packages/client/src/features/Forum/Reply/Reply.tsx
  packages/client/src/pages/TopicPage/TopicPage.tsx
  packages/client/src/styles/main.scss
Due: frontend-linter

WIZ-49: add themes
  packages/client/package.json
  packages/client/src/api/auth.api.ts
  packages/client/src/api/index.ts
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/api/profile.api.ts
  packages/client/src/api/theme.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/constants/main.ts
  packages/client/src/constants/theme.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/models/theme.model.ts
  packages/server/controllers/user-theme.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/SiteTheme.ts
  packages/server/models/UserTheme.ts
  packages/server/package.json
  packages/server/routes/index.ts
  packages/server/routes/user-theme.ts
  packages/server/services/theme/theme-service.ts
  packages/server/src/types/theme.ts
  packages/server/tsconfig.json
  yarn.lock
Due: frontend-linter, backend-linter

add forum backend (api)
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
  packages/server/constant.ts
  packages/server/controllers/ForumController.ts
  packages/server/helpers/createErrorResponse.ts
  packages/server/helpers/createSuccessResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/isArrays.ts
  packages/server/helpers/isNumbers.ts
  packages/server/helpers/isObjects.ts
  packages/server/helpers/isStrings.ts
  packages/server/helpers/responseApi.ts
  packages/server/index.ts
  packages/server/models/Api.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/package.json
  packages/server/routers/api.router.ts
  packages/server/routers/forum.router.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  packages/server/vite.config.ts
  yarn.lock
Due: backend-linter

fixed
  package-lock.json
  package.json
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
  packages/server/controllers/ForumController.ts
  packages/server/helpers/createErrorResponse.ts
  packages/server/helpers/createSuccessResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/isArrays.ts
  packages/server/helpers/isNumbers.ts
  packages/server/helpers/isObjects.ts
  packages/server/helpers/isStrings.ts
  packages/server/helpers/responseApi.ts
  packages/server/index.ts
  packages/server/models/Api.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Topic.ts
  packages/server/routers/api.router.ts
  packages/server/routers/forum.router.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  packages/server/vite.config.ts
  yarn.lock
Due: backend-linter

sw for ssr
  packages/client/package.json
  packages/client/serviceWorker/sw-build.ts
  packages/client/src/main-ssr.tsx
  packages/client/src/serviceworker/sw-build.ts
  packages/client/src/serviceworker/sw.ts
  packages/client/sw.config.json
  packages/client/tsconfig.sw.json
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

Feature/wiz 46 add service worker (#30)
  packages/client/no-cache-no-network.html
  packages/client/package.json
  packages/client/src/helpers/index.ts
  packages/client/src/helpers/registerServiceWorker.ts
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/serviceworker/sw-build.ts
  packages/client/src/serviceworker/sw.ts
  packages/client/sw.config.json
  packages/client/tsconfig.sw.json
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

remove unnecessary files
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
Due: none

Path conditions:
  frontend-linter: any of: *.{ts,tsx} and ^packages/client/
  backend-linter: any of: *.{ts,tsx} and ^packages/server/
