Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-linter:
      root: "packages/client/"
      glob: '*.{ts,tsx}'
      run: yarn lint {staged_files}
    backend-linter:
        root: "packages/server/"
        glob: '*.{ts,tsx}'
        run: yarn lint {staged_files}

add getleaderboard fetch
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/constants/leaderboard.ts
  packages/client/src/features/Leaderboard/Leaderboard.tsx
  packages/client/src/features/Leaderboard/common.ts
  packages/client/src/models/leaderboard.model.ts
Due: frontend-linter

add api new leader
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/app/slices/leaderboardSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/features/Leaderboard/Leaderboard.tsx
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/models/leaderboard.model.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

настройка ssr и redux на appDummy
  packages/client/index-ssr.html
  packages/client/package.json
  packages/client/src/app/serverStore.ts
  packages/client/src/app/slices/counterSlice.ts
  packages/client/src/client.d.ts
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: frontend-linter, backend-linter

фикс
  packages/client/src/core/AppDummy/AppDummy.tsx
Due: frontend-linter

fixed common.ts
  packages/client/src/features/Leaderboard/common.ts
Due: frontend-linter

Feature/wiz 45 add api leaderboard (#26)
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/app/slices/leaderboardSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/constants/leaderboard.ts
  packages/client/src/features/Leaderboard/Leaderboard.scss
  packages/client/src/features/Leaderboard/Leaderboard.tsx
  packages/client/src/features/Leaderboard/common.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/models/leaderboard.model.ts
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

фикс ошибки
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.tsx
  packages/client/src/features/Profile/ProfileChangeAvatar/ProfileChangeAvatar.tsx
  packages/client/src/features/Profile/ProfileChangeAvatar/common.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/server/index.ts
Due: frontend-linter, backend-linter

fixes server redux store creation
  packages/client/src/app/serverStore.ts
  packages/client/src/app/store.ts
  packages/client/src/client.d.ts
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/server/index.ts
  yarn.lock
Due: frontend-linter, backend-linter

changes dummy store to normal one
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
Due: frontend-linter

removes files related to csr
  packages/client/index-ssr.html
  packages/client/index.html
  packages/client/package.json
  packages/client/src/main-client.tsx
  packages/client/src/main.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
Due: frontend-linter, backend-linter

доработки по роутингу
  package.json
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/core/AppDummy/index.ts
  packages/client/src/core/Router/Router.tsx
  packages/client/src/features/Header/common.ts
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
Due: frontend-linter

.
  packages/client/src/types/sw.ts
Due: frontend-linter

feature:(WIZ-43) OAuth
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/api/base.api.ts
  packages/client/src/api/oauth.api.ts
  packages/client/src/app/store.ts
  packages/client/src/assets/icons/Yandex_icon.svg
  packages/client/src/constants/main.ts
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Login/common.ts
  packages/client/src/features/OAuth/OAuth.scss
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/features/OAuth/common.ts
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/convertStringToServerError.ts
  packages/client/src/hooks/useOAuthSignIn.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/client/src/types/app.d.ts
  packages/client/tsconfig.json
  packages/client/types/svg.d.ts
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

makes render function return Promise
  packages/client/src/ssr.tsx
  packages/server/index.ts
Due: frontend-linter, backend-linter

restores csr
  packages/client/index-ssr.html
  packages/client/package.json
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
Due: frontend-linter, backend-linter

fixes lint error
  packages/client/jest.config.js
Due: none

removes AppDummy
  packages/client/src/app/slices/counterSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/core/AppDummy/index.ts
Due: frontend-linter

feature:(WIZ-43) fix edits
  packages/client/src/features/OAuth/OAuth.scss
  packages/client/src/types/app.d.ts
Due: frontend-linter

feature:(WIZ-43) edits build
  packages/client/src/api/oauth.api.ts
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/features/OAuth/common.ts
  packages/client/src/hooks/useOAuthSignIn.ts
  packages/client/types/svg.d.ts
Due: frontend-linter

еще фиксы
  packages/client/package.json
  packages/client/src/core/App/App.tsx
  packages/client/src/core/Router/Router.tsx
  packages/client/src/core/Router/routes.tsx
  packages/client/src/main-client.tsx
Due: frontend-linter

404
  packages/client/src/core/Router/routes.tsx
Due: frontend-linter

adds "type": "module" in client/package.json
  packages/client/package.json
  packages/server/index.ts
Due: backend-linter

replaces backticks with single quotes
  packages/server/index.ts
Due: backend-linter

fixes jest.config.js
  packages/client/jest.config.js
Due: none

Feature/wiz 47 (#28)
  packages/client/index-ssr.html
  packages/client/index.html
  packages/client/src/app/store.ts
  packages/client/src/client.d.ts
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/core/AppDummy/index.ts
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.tsx
  packages/client/src/features/Profile/ProfileChangeAvatar/ProfileChangeAvatar.tsx
  packages/client/src/features/Profile/ProfileChangeAvatar/common.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: frontend-linter, backend-linter

удаление ненужного
  packages/client/src/app/slices/counterSlice.ts
Due: frontend-linter

ревью
  packages/client/src/core/Router/Router.tsx
  packages/server/index.ts
Due: frontend-linter, backend-linter

ревью
  packages/server/index.ts
Due: backend-linter

фикс preview
  packages/client/index-ssr.html
  packages/client/src/ssr.tsx
  packages/server/tsconfig.json
Due: frontend-linter

линтер
  packages/client/index-ssr.html
  packages/server/tsconfig.json
Due: none

удаление ненужного
  packages/client/index-ssr.html
  packages/server/tsconfig.json
Due: none

add sw
  packages/client/package.json
  packages/client/serviceWorker/no-chache-no-network.html
  packages/client/serviceWorker/sw-build.js
  packages/client/serviceWorker/sw.js
  packages/client/src/helpers/index.ts
  packages/client/src/helpers/registerServiceWorker.ts
  packages/client/src/main-client.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

fixed
  packages/client/src/main-client.tsx
  packages/client/vite.config.ts
Due: frontend-linter

move html file
  packages/client/no-chache-no-network.html
  packages/client/serviceWorker/sw-build.js
  packages/client/vite.config.ts
Due: frontend-linter

Feature/wiz 48 (#27)
  package.json
  packages/client/src/core/App/App.tsx
  packages/client/src/core/Router/Router.tsx
  packages/client/src/core/Router/routes.ts
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Header/common.ts
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
Due: frontend-linter

костыль для сборки образов
  packages/server/index.ts
Due: backend-linter

fixed_part1
  packages/client/package.json
  packages/client/serviceWorker/sw-build.js
  packages/client/serviceWorker/sw.js
  packages/client/src/main-client.tsx
Due: frontend-linter

небольшие фиксы
  docker-compose.yml
  packages/server/package.json
  yarn.lock
Due: none

fix
  packages/client/package.json
Due: none
