Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-linter:
      root: "packages/client/"
      glob: '*.{ts,tsx}'
      run: yarn lint {staged_files}
    backend-linter:
        root: "packages/server/"
        glob: '*.{ts,tsx}'
        run: yarn lint {staged_files}

adds install yarn step
  .github/workflows/build-and-deploy.yml
Due: none

fixes docker compose command
  .github/workflows/build-and-deploy.yml
Due: none

fixes docker compose commands
  .github/workflows/build-and-deploy.yml
Due: none

fix
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/game/ActionCard/random.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dices.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/Views/index.ts
  packages/client/src/game/common.ts
  packages/client/src/game/constants.ts
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/cards.ts
  packages/client/src/game/types/game.ts
  packages/client/src/game/types/map.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/types/enums/main.ts
Due: frontend-linter

add locastorage
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/main-ssr.tsx
  packages/server/services/api.auth.middleware.ts
Due: frontend-linter, backend-linter

fixes unused param
  packages/server/services/api.auth.middleware.ts
Due: backend-linter

updates yarn.lock
  yarn.lock
Due: none

renames authMiddleware first param
  packages/server/services/api.auth.middleware.ts
Due: backend-linter

Feature/wiz 60 (#42)
  .github/workflows/build-and-deploy.yml
  docker-compose.cloud.yml
  packages/server/services/api.auth.middleware.ts
  yarn.lock
Due: backend-linter

adds postgresql env config to server
  docker-compose.cloud.yml
Due: none

corrections by comments
  packages/client/.eslintrc.json
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/helpers/helpers.ts
Due: frontend-linter

feature: (WIZ-58) sanitize input values (#39)
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/index.ts
  packages/client/src/helpers/sanitizeObject.ts
  packages/server/services/api.auth.middleware.ts
Due: frontend-linter, backend-linter

fixes for the review
  packages/client/.eslintrc.json
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dice.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/game.ts
  packages/client/src/game/types/map.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
Due: frontend-linter

write game data to resultboard
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/game/Game.tsx
Due: frontend-linter

настройка nginx (#40)
  .env.sample
  docker-compose.yml
  nginx/conf/gzip.conf
  nginx/conf/proxy_headers.conf
  nginx/conf/server.conf
  nginx/conf/ssl.conf
  nginx/nginx.conf
  packages/client/nginx.conf
Due: none

WIZ-55: adds csp (#38)
  packages/client/.eslintrc.json
  packages/client/config/plugins/nonceInjectPlugin.ts
  packages/client/package.json
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/types/svg.d.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: frontend-linter, backend-linter

adds nginx conf to docker-compose.cloud.yml
  docker-compose.cloud.yml
  docker-compose.yml
  nginx/conf/server.conf
Due: none

removes selectIsAuth
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/features/Landing/Landing.tsx
  packages/client/src/pages/ForumPage/ForumPage.tsx
Due: frontend-linter

fixes forumApiMacroErrorHandler
  packages/client/src/app/middlewares/forumApiMacroErrorHandler.ts
Due: frontend-linter

minor fix
  packages/server/services/api.auth.middleware.ts
Due: backend-linter

fix
  packages/server/services/api.auth.middleware.ts
Due: backend-linter

removes Setup node and Install dependencies steps from build-and-deploy.yml
  .github/workflows/build-and-deploy.yml
Due: none

changes server.conf
  nginx/conf/server.conf
Due: none

adds command to the Dockerfile
  Dockerfile
Due: none

changes OAUTH_REDIRECT_URI
  packages/client/src/constants/main.ts
Due: frontend-linter

Resultboard work
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/features/EndGame/EndGame.tsx
  packages/client/src/features/EndGame/common.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/game/Views/Dices/Dice.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

adds tables creation
  packages/server/db.ts
Due: backend-linter

fix forume
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  yarn.lock
Due: frontend-linter

fix: tunes user auth
  packages/client/src/pages/MainPage/MainPage.tsx
Due: frontend-linter

updates server.conf
  nginx/conf/server.conf
Due: none

fix comments author name
  packages/client/src/features/Forum/NewComment/NewComment.tsx
Due: frontend-linter

fix: edit forum
  packages/client/src/features/Forum/Comment/Comment.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
Due: frontend-linter

updates docker-compose.cloud.yml
  certbot/conf/empty
  certbot/www/empty
  docker-compose.cloud.yml
  yarn.lock
Due: none

fix: edit start page
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
Due: frontend-linter

updates server.conf
  nginx/conf/server.conf
  yarn.lock
Due: none

to demo
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/features/EndGame/EndGame.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/common.ts
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/game.ts
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/client/vite.config.ts.timestamp-1687372414202-b2a12fc84a6ee.mjs
Due: frontend-linter

fix
  packages/client/src/game/Game.tsx
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/types/cards.ts
  packages/client/src/main-client.tsx
  packages/client/sw.js
  packages/client/vite.config.ts.timestamp-1687372414202-b2a12fc84a6ee.mjs
Due: frontend-linter

updates docker-compose.cloud.yml
  certbot/conf/empty
  certbot/www/empty
  docker-compose.cloud.yml
Due: none
