Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

frontend-linter:
  run: yarn lint {staged_files}

backend-linter:
  run: yarn lint {staged_files}

fixes merge
  packages/server/constant.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Emotion.ts
  packages/server/models/Topic.ts
  packages/server/router/emotionRouter.ts
  packages/server/router/emotions.router.ts
  packages/server/router/forum.router.ts
  packages/server/router/index.ts
  packages/server/router/theme.router.ts
  packages/server/routers/api.router.ts
  packages/server/routes/index.ts
  yarn.lock
Due: backend-linter

removes server/vite.config.ts
  packages/server/vite.config.ts
Due: backend-linter

feature:(WIZ-51) for demo
  packages/client/db.json
  packages/client/src/api/baseApi.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/components/TopicUserInfo/TopicUserInfo.tsx
  packages/client/src/features/Forum/Comments/Comments.scss
  packages/client/src/features/Forum/Comments/Comments.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.tsx
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.tsx
  packages/client/src/features/Forum/common.ts
  packages/client/src/main-ssr.tsx
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/TopicPage/TopicPage.scss
  packages/client/src/pages/TopicPage/TopicPage.tsx
  packages/client/src/translations/locales/ru.json
  packages/client/src/types/enums/forum.ts
Due: frontend-linter

feature:(WIZ-51) for demo. fixes build
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/features/Forum/NewComment/NewComment.tsx
Due: frontend-linter

feature:(WIZ-51) for demo. fixes build
  packages/client/db.json
  packages/client/src/api/forum.api.ts
  packages/client/src/features/Forum/Comment/Comment.tsx
  packages/client/src/features/Forum/Comments/Comments.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/Replies/Replies.tsx
  packages/client/src/main-client.tsx
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/TopicPage/TopicPage.tsx
Due: frontend-linter

feature:(WIZ-51) for demo. fixes build
  packages/client/db.json
  packages/client/src/app/store.ts
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
Due: frontend-linter

feature:(WIZ-51) fixes for build
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/Reply/Reply.tsx
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/TopicPage/TopicPage.tsx
Due: frontend-linter

feature:(WIZ-51) fixes from reviewer
  packages/client/db.json
  packages/client/src/api/baseApi.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/components/TopicUserInfo/TopicUserInfo.tsx
  packages/client/src/constants/forum.ts
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/PreviewTopic/PreviewTopic.tsx
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/TopicPage/TopicPage.tsx
  packages/client/src/types/enums/forum.ts
Due: frontend-linter

feature:(WIZ-43) edits from teammates
  packages/client/src/api/oauth.api.ts
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/styles/mixins.scss
  packages/client/vite.config.ts
Due: frontend-linter

feature:(WIZ-43) add new vars for font-size
  packages/client/src/features/EndGame/EndGame.scss
  packages/client/src/features/Landing/Landing.scss
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/OAuth/OAuth.scss
  packages/client/src/features/Register/Register.scss
  packages/client/src/styles/vars.scss
Due: none

feature:(WIZ-43) add new vars for font-size
  packages/client/src/styles/vars.scss
Due: none

Wiz 43 (#29)
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/api/base.api.ts
  packages/client/src/api/oauth.api.ts
  packages/client/src/app/store.ts
  packages/client/src/assets/icons/Yandex_icon.svg
  packages/client/src/constants/main.ts
  packages/client/src/features/EndGame/EndGame.scss
  packages/client/src/features/Landing/Landing.scss
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Login/common.ts
  packages/client/src/features/OAuth/OAuth.scss
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/features/OAuth/common.ts
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/convertStringToServerError.ts
  packages/client/src/hooks/useOAuthSignIn.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/styles/mixins.scss
  packages/client/src/styles/vars.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/client/src/types/app.d.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.sw.json
  packages/client/types/svg.d.ts
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

fixed for review
  package.json
  packages/client/vite.config.ts.timestamp-1685190642956-9409deed4e13e.mjs
  packages/client/vite.config.ts.timestamp-1685196625724-3acfa4ae32888.mjs
  packages/client/vite.config.ts.timestamp-1685269459799-2c033e06e272d.mjs
  packages/client/vite.config.ts.timestamp-1685290594650-f0a8d549fa1c3.mjs
  packages/client/vite.config.ts.timestamp-1685387137415-0799fb2508dce.mjs
  packages/client/vite.config.ts.timestamp-1685472196291-429e115ab7d8a.mjs
  packages/server/controllers/ForumController.ts
  packages/server/helpers/createResponse.ts
  packages/server/helpers/createSuccessResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/isArrays.ts
  packages/server/helpers/isNumbers.ts
  packages/server/helpers/isObjects.ts
  packages/server/helpers/isStrings.ts
  packages/server/helpers/sendResponsesFromApi.ts
  packages/server/helpers/typeCheck.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  packages/server/vite.config.ts
  yarn.lock
Due: backend-linter

fixed for review
  packages/server/controllers/ForumController.ts
  packages/server/helpers/createResponse.ts
  packages/server/helpers/sendResponsesFromApi.ts
  packages/server/helpers/typeCheck.ts
  packages/server/services/api.error.ts
Due: backend-linter

WIZ-49: add themes
  packages/client/src/api/auth.api.ts
  packages/client/src/api/index.ts
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/api/profile.api.ts
  packages/client/src/api/theme.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/constants/main.ts
  packages/client/src/constants/theme.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/models/theme.model.ts
  packages/server/controllers/user-theme.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/SiteTheme.ts
  packages/server/models/UserTheme.ts
  packages/server/package.json
  packages/server/routes/index.ts
  packages/server/routes/user-theme.ts
  packages/server/services/theme/theme-service.ts
  packages/server/src/types/theme.ts
  packages/server/tsconfig.json
  yarn.lock
Due: frontend-linter, backend-linter

WIZ-49: remove commented extra route
  packages/server/index.ts
Due: backend-linter

WIZ-49: add set theme functionality
  packages/client/index-ssr.html
  packages/client/index.html
  packages/client/src/api/theme.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/features/Header/Header.tsx
  packages/client/src/models/theme.model.ts
  packages/client/src/styles/main.scss
  packages/server/controllers/user-theme.ts
  packages/server/routes/user-theme.ts
  packages/server/services/theme/theme-service.ts
  packages/server/types/theme.ts
Due: frontend-linter, backend-linter

fix theme typo, add setting theme after initial getting user info
  packages/client/index-ssr.html
  packages/client/src/app/slices/userSlice.ts
Due: frontend-linter

WIZ-49: fix core review comments
  packages/client/src/api/index.ts
  packages/client/src/api/theme.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/constants/main.ts
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/handleServerError.ts
  packages/client/src/styles/main.scss
  packages/client/src/styles/vars.scss
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/SiteTheme.ts
  packages/server/models/UserTheme.ts
  packages/server/services/theme/theme-service.ts
  packages/server/types/theme.ts
Due: frontend-linter, backend-linter

final fixed pr
  packages/server/db.ts
  packages/server/helpers/createResponse.ts
  packages/server/helpers/sendResponsesFromApi.ts
  packages/server/models/Api.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Topic.ts
  packages/server/package.json
  packages/server/routers/forum.router.ts
  packages/server/services/comments.service.ts
  packages/server/tsconfig.json
  yarn.lock
Due: backend-linter

WIZ-49: add themes (#36)
  packages/client/index-ssr.html
  packages/client/index.html
  packages/client/src/api/auth.api.ts
  packages/client/src/api/index.ts
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/api/profile.api.ts
  packages/client/src/api/theme.api.ts
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/constants/main.ts
  packages/client/src/constants/theme.ts
  packages/client/src/features/Header/Header.tsx
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/handleServerError.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/models/theme.model.ts
  packages/client/src/styles/main.scss
  packages/client/src/styles/vars.scss
  packages/server/controllers/user-theme.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/SiteTheme.ts
  packages/server/models/UserTheme.ts
  packages/server/package.json
  packages/server/routes/index.ts
  packages/server/routes/user-theme.ts
  packages/server/services/theme/theme-service.ts
  packages/server/tsconfig.json
  packages/server/types/theme.ts
  yarn.lock
Due: frontend-linter, backend-linter

add forum backend (api) (#37)
  package-lock.json
  package.json
  packages/server/constant.ts
  packages/server/controllers/forum.ts
  packages/server/helpers/createResponse.ts
  packages/server/helpers/index.ts
  packages/server/helpers/sendResponsesFromApi.ts
  packages/server/helpers/typeCheck.ts
  packages/server/index.ts
  packages/server/models/Author.ts
  packages/server/models/Comment.ts
  packages/server/models/Topic.ts
  packages/server/package.json
  packages/server/routes/forum-router.ts
  packages/server/routes/index.ts
  packages/server/services/api.auth.middleware.ts
  packages/server/services/api.error.ts
  packages/server/services/author.service.ts
  packages/server/services/comments.service.ts
  packages/server/services/topic.services.ts
  yarn.lock
Due: backend-linter

feature: (WIZ-51) get All Topics
  package.json
  packages/client/src/api/backend.api.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/api/oauth.api.ts
  packages/client/src/api/yandexApi.ts
  packages/client/src/app/store.ts
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.tsx
  packages/client/src/models/forum.model.ts
  packages/server/services/api.auth.middleware.ts
  yarn.lock
Due: frontend-linter, backend-linter

feature: (WIZ-51) adds: get topic by id, create topic, create comment
  packages/client/src/api/backend.api.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/app/middlewares/forumApiMacroErrorHandler.ts
  packages/client/src/app/store.ts
  packages/client/src/constants/forum.ts
  packages/client/src/features/Forum/Comment/Comment.tsx
  packages/client/src/features/Forum/Comments/Comments.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/Forum.scss
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/PreviewTopics/PreviewTopics.scss
  packages/client/src/features/Forum/common.ts
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/TopicPage/TopicPage.tsx
  packages/client/src/types/enums/forum.ts
  packages/client/src/types/guards/forum.ts
  packages/server/services/api.auth.middleware.ts
Due: frontend-linter, backend-linter

hot fix
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/constants/main.ts
  packages/client/src/data/cards.ts
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/InputPlayerColor.tsx
  packages/client/src/features/GameSetup/InputPlayerName/InputPlayerName.tsx
  packages/client/src/features/OAuth/OAuth.tsx
  packages/client/src/game/ActionCard/random.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dice.scss
  packages/client/src/game/Views/Dices/Dice.tsx
  packages/client/src/game/Views/Dices/Dices.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/types/cards.ts
  packages/client/src/types/game.ts
Due: frontend-linter

feature: (WIZ-51) new-comment formValidate
  packages/client/package.json
  packages/client/src/api/backend.api.ts
  packages/client/src/api/forum.api.ts
  packages/client/src/app/middlewares/forumApiMacroErrorHandler.ts
  packages/client/src/constants/forum.ts
  packages/client/src/features/Forum/Comments/Comments.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/NewComment/NewComment.scss
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/Forum/NewComment/common.ts
  packages/client/src/features/Forum/NewComment/types.ts
  packages/client/src/features/Forum/Replies/Replies.tsx
  packages/client/src/pages/TopicPage/TopicPage.tsx
  packages/client/src/pages/TopicPage/common.tsx
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/client/src/types/guards/forum.ts
  packages/server/services/api.auth.middleware.ts
  yarn.lock
Due: frontend-linter, backend-linter

drawColorCard
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dices.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/cards.ts
  packages/client/src/game/types/game.ts
  packages/client/src/game/types/map.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/types/enums/main.ts
Due: frontend-linter

update
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dices.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/cards.ts
  packages/client/src/game/types/game.ts
  packages/client/src/game/types/map.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/types/enums/main.ts
Due: frontend-linter

update2
  packages/client/src/assets/game/mapCard/prison.svg
  packages/client/src/assets/game/mapCard/start.svg
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
Due: frontend-linter

WIZ-55: adds csp
  packages/client/.eslintrc.json
  packages/client/config/plugins/nonceInjectPlugin.ts
  packages/client/package.json
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/types/svg.d.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/services/api.auth.middleware.ts
  yarn.lock
Due: frontend-linter, backend-linter

feature: (WIZ-58) sanitize input values
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/Forum/NewComment/NewComment.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/index.ts
  packages/client/src/helpers/sanitizeObject.ts
  yarn.lock
Due: frontend-linter

feature: (WIZ-58) types sanitizeObject
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/client/src/helpers/sanitizeObject.ts
  packages/server/services/api.auth.middleware.ts
Due: frontend-linter, backend-linter

настройка nginx
  .env.sample
  docker-compose.yml
  nginx/conf/gzip.conf
  nginx/conf/proxy_headers.conf
  nginx/conf/server.conf
  nginx/conf/ssl.conf
  nginx/nginx.conf
  packages/client/nginx.conf
Due: none

feature: (WIZ-58) command edits
  packages/client/src/features/Forum/CreateTopicModal/CreateTopicModal.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/features/Register/Register.tsx
  packages/server/services/api.auth.middleware.ts
Due: frontend-linter, backend-linter

feature: (WIZ-58) swaps page with component in route
  packages/client/src/core/Router/routes.tsx
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
Due: frontend-linter

add fix state
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dices/Dices.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/common.ts
  packages/client/src/game/data/cards.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/game/helpers/modal.tsx
  packages/client/src/game/types/cards.ts
  packages/client/src/game/types/game.ts
  packages/client/src/game/types/map.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
Due: frontend-linter

deploy test with GitHub actions
  .github/workflows/build-and-deploy.yml
  docker-compose.cloud.yml
Due: none

deploy test with GitHub actions
  .github/workflows/build-and-deploy.yml
Due: none

adds setup node step
  .github/workflows/build-and-deploy.yml
Due: none

Path conditions:
  frontend-linter: any of: *.{ts,tsx} and ^packages/client/
  backend-linter: any of: *.{ts,tsx} and ^packages/server/
