Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

frontend-linter:
  run: yarn lint {staged_files}

backend-linter:
  run: yarn lint {staged_files}

изменение положения изображений
  packages/client/src/features/Game/Game.tsx
Due: frontend-linter

обновленная иконка поезда
  packages/client/src/assets/game/mapCard/railway.svg
Due: none

fix
  packages/client/src/features/Forum/Forum.scss
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/features/Forum/common.ts
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

feature/WIZ-22 (#13)
  packages/client/.eslintrc.json
  packages/client/src/api/forum.api.ts
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/assets/images/forum-bg.png
  packages/client/src/features/Forum/Forum.scss
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/features/Forum/Posts/Posts.tsx
  packages/client/src/features/Forum/Posts/common.ts
  packages/client/src/features/Forum/Posts/index.ts
  packages/client/src/features/Forum/common.ts
  packages/client/src/helpers/index.ts
  packages/client/src/helpers/isArray.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useFetchPosts.tsx
  packages/client/src/hooks/useFetchTopics.tsx
  packages/client/src/hooks/useFetchUsers.tsx
  packages/client/src/models/forum.model.ts
  packages/client/src/pages/ForumPage/ForumPage.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  yarn-error.log
Due: frontend-linter

fix
  packages/client/.eslintrc.json
Due: none

feat:(WIZ-36) edit HOC types, change routes.ts
  packages/client/.eslintrc.json
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/constants/main.ts
  packages/client/src/features/GameSetup/InputPlayerColor/utils.ts
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/types/enums/main.ts
  packages/client/src/types/game.ts
Due: frontend-linter

рефакторинг + ревью
  packages/client/.eslintrc.json
  packages/client/src/data/cards.ts
  packages/client/src/features/Game/Game.tsx
  packages/client/src/types/cards.ts
  packages/client/vite.config.ts
Due: frontend-linter

Исправление по ревью + доработка логики движения
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/DIce/Dice.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/types/enums/main.ts
  packages/client/src/types/game.ts
Due: frontend-linter

fix
  packages/client/src/game/Game.tsx
  packages/client/src/game/helpers/helpers.ts
Due: frontend-linter

Feature/wiz 38-mechanics-game (#22)
  packages/client/src/features/Game/Game.tsx
  packages/client/src/features/Game/index.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/DIce/Dice.scss
  packages/client/src/game/Views/DIce/Dice.tsx
  packages/client/src/game/Views/Map/Map.scss
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Map/index.ts
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/PlayerInterface/index.ts
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/Views/index.ts
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/translations/locales/en.json
  packages/client/src/types/enums/main.ts
  packages/client/src/types/game.ts
Due: frontend-linter

test fullscreen, test resize
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/game/Views/DIce/Dice.scss
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/VIews.scss
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useFetchPosts.tsx
  packages/client/src/hooks/useFetchTopics.tsx
  packages/client/src/hooks/useFetchUsers.tsx
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/pages/GamePage/GamePage.scss
Due: frontend-linter

допил после конфликтов
  packages/client/src/game/Views/Map/Map.tsx
Due: frontend-linter

Feature/wiz 34 (#20)
  packages/client/.eslintrc.json
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/assets/game/mapCard/arrest.svg
  packages/client/src/assets/game/mapCard/dice.svg
  packages/client/src/assets/game/mapCard/greenArrow.svg
  packages/client/src/assets/game/mapCard/greyArrow.svg
  packages/client/src/assets/game/mapCard/money.svg
  packages/client/src/assets/game/mapCard/parking.svg
  packages/client/src/assets/game/mapCard/powerLines.svg
  packages/client/src/assets/game/mapCard/prison.svg
  packages/client/src/assets/game/mapCard/railway.svg
  packages/client/src/assets/game/mapCard/redArrow.svg
  packages/client/src/assets/game/mapCard/start.svg
  packages/client/src/assets/game/mapCard/treasury.svg
  packages/client/src/assets/game/mapCard/waterPipes.svg
  packages/client/src/assets/game/mapCard/yellowArrow.svg
  packages/client/src/data/cards.ts
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Map/helpers.ts
  packages/client/src/hooks/useFetchPosts.tsx
  packages/client/src/hooks/useFetchTopics.tsx
  packages/client/src/hooks/useFetchUsers.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/translations/locales/ru.json
  packages/client/src/types/cards.ts
  packages/client/vite.config.ts
Due: frontend-linter

.
  packages/client/.eslintrc.json
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/VIews.scss
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

fix
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Map/helpers.ts
  packages/client/src/pages/GamePage/GamePage.tsx
Due: frontend-linter

adds min height for landing-feature-item
  packages/client/src/features/Landing/Landing.scss
Due: none

Добавлен хук для адаптации размера карты
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
Due: frontend-linter

demo:(WIZ-41-demo) fix 41 branch build
  .gitignore
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/common.ts
Due: frontend-linter

demo:(WIZ-41-demo) changes availability of languange change
  packages/client/src/core/App/App.scss
Due: none

demo:(WIZ-41-demo) changes availability of language change
  packages/client/src/core/App/App.scss
Due: none

fullscreen fix
  packages/client/src/game/Views/DIce/Dice.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/VIews.scss
  packages/client/src/game/Views/Views.tsx
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/pages/GamePage/GamePage.scss
Due: frontend-linter

steps logics fix
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Map/Map.tsx
Due: frontend-linter

WIZ-23: add global l10n
  packages/client/src/app/slices/localeSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/features/Header/Header.tsx
  packages/client/src/hooks/useLocale.ts
Due: frontend-linter

Адаптация текста под размер поля
  packages/client/src/game/Views/Map/Map.tsx
Due: frontend-linter

code review fixes
  packages/client/src/hooks/useLocale.ts
Due: frontend-linter

WIZ-23: add global l10n (#23)
  packages/client/src/app/slices/localeSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/features/Header/Header.tsx
  packages/client/src/hooks/useLocale.ts
Due: frontend-linter

feature:(WIZ-36) edits types
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/utils.ts
Due: frontend-linter

WIZ-39: add header links
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
  packages/client/src/features/Header/Header.scss
  packages/client/src/features/Header/Header.tsx
  packages/client/src/features/Header/common.ts
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.scss
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/layouts/Default.tsx
  packages/client/src/pages/ProfileChangePasswordPage/ProfileChangePasswordPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/StartGamePage/StartGamePage.scss
  packages/client/src/styles/vars.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

WIZ-39: use ROUTES for links for navbar
  packages/client/src/features/Header/common.ts
Due: frontend-linter

WIZ-39: add header links (#24)
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
  packages/client/src/features/Header/Header.scss
  packages/client/src/features/Header/Header.tsx
  packages/client/src/features/Header/common.ts
  packages/client/src/features/Profile/ProfileChangePassword/ProfileChangePassword.tsx
  packages/client/src/features/Profile/ProfileForm/ProfileForm.scss
  packages/client/src/features/Profile/ProfileForm/ProfileForm.tsx
  packages/client/src/layouts/Default.tsx
  packages/client/src/pages/ProfileChangePasswordPage/ProfileChangePasswordPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/StartGamePage/StartGamePage.scss
  packages/client/src/styles/vars.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

feature:(WIZ-36) fixes comments
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dice/Dice.scss
  packages/client/src/game/Views/Dice/Dice.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
Due: frontend-linter

feature:(WIZ-36) edits types
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dice/Dice.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/hooks/useFullScreenApi.tsx
Due: frontend-linter

feature:(WIZ-36) edits types
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/Views.tsx
Due: frontend-linter

feat:(WIZ-36) adds part of bank (#18)
  packages/client/.eslintrc.json
  packages/client/src/app/selectors.ts
  packages/client/src/app/slices/forumSlice.ts
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/slices/utils.ts
  packages/client/src/constants/main.ts
  packages/client/src/core/Router/routes.ts
  packages/client/src/features/Forum/Forum.tsx
  packages/client/src/features/Forum/Posts/Posts.scss
  packages/client/src/features/Forum/Posts/Posts.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/InputPlayerColor.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/utils.ts
  packages/client/src/features/Leaderboard/Leaderboard.tsx
  packages/client/src/features/Resultboard/ResultBoard.tsx
  packages/client/src/game/Bank/withBank.tsx
  packages/client/src/game/Game.tsx
  packages/client/src/game/Views/Dice/Dice.scss
  packages/client/src/game/Views/Dice/Dice.tsx
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.scss
  packages/client/src/game/Views/PlayerInterface/PlayerInterface.tsx
  packages/client/src/game/Views/VIews.scss
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useFullScreenApi.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/models/auth.model.ts
  packages/client/src/models/forum.model.ts
  packages/client/src/models/profile.model.ts
  packages/client/src/pages/GamePage/GamePage.scss
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
  packages/client/src/types/app.d.ts
  packages/client/src/types/cards.ts
  packages/client/src/types/enums/main.ts
  packages/client/src/types/game.ts
Due: frontend-linter

WIZ-44: add ssr
  package.json
  packages/client/index.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/core/AppDummy/index.ts
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/client/vite-ssr.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: frontend-linter, backend-linter

WIZ-44: update vite config to use one
  packages/client/index-ssr.html
  packages/client/package.json
  packages/client/vite-ssr.config.ts
  packages/client/vite.config.ts
  packages/server/index.ts
Due: frontend-linter, backend-linter

fixed Canvas component
  packages/client/src/game/Views/Map/Map.tsx
  packages/client/src/game/Views/Views.tsx
  packages/client/src/game/common.ts
  packages/client/src/game/helpers/helpers.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useCardsDataLoad.tsx
  packages/client/src/hooks/useGameViewsCalc.tsx
  packages/client/src/types/cards.ts
  packages/client/src/types/game.ts
Due: frontend-linter

fix review comments
  packages/client/src/constants/localStorage.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/hooks/useLocale.ts
  packages/server/index.ts
Due: frontend-linter, backend-linter

WIZ-44: add ssr (#25)
  package.json
  packages/client/index-ssr.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/constants/localStorage.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/core/AppDummy/AppDummy.tsx
  packages/client/src/core/AppDummy/index.ts
  packages/client/src/hooks/useLocale.ts
  packages/client/src/main-client.tsx
  packages/client/src/main-ssr.tsx
  packages/client/src/ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: frontend-linter, backend-linter

add leaderboard models
  packages/client/src/api/leaderboard.api.ts
  packages/client/src/constants/leaderboard.ts
  packages/client/src/features/Leaderboard/Leaderboard.scss
  packages/client/src/features/Leaderboard/Leaderboard.tsx
  packages/client/src/features/Leaderboard/common.ts
  packages/client/src/models/leaderboard.model.ts
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.scss
Due: frontend-linter

Path conditions:
  frontend-linter: any of: *.{ts,tsx} and ^packages/client/
  backend-linter: any of: *.{ts,tsx} and ^packages/server/
