Repository 11-wizards/wizards-monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, backend-linter

frontend-linter:
  run: yarn eslint {staged_files}

backend-linter:
  run: yarn eslint {staged_files}

edits git hook
  lefthook.yml
Due: none

feat:(WIZ-15) edits git hook
  lefthook.yml
Due: none

feat:(WIZ-15) changes that followed due to git hooks errors
  lefthook.yml
  packages/client/.eslintrc.json
  packages/client/.stylelintrc.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/client.d.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/types/app.d.ts
  packages/client/tsconfig.json
  packages/server/.eslintrc.json
  packages/server/__tests__/example.test.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/jest.config.js
  packages/server/package.json
Due: frontend-linter, backend-linter

feat:(WIZ-15) adds prettier for backend
  packages/server/.eslintrc.json
  packages/server/.prettierrc
  packages/server/__tests__/example.test.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/jest.config.js
Due: backend-linter

feat:(WIZ-15) adds prettier for backend
  packages/server/.eslintrc.json
Due: none

feat:(WIZ-15) divides scripts into subcommands & makes eslint rules safer
  packages/client/.eslintrc.json
  packages/client/package.json
Due: none

WIZ-24: add login page layout (with no logics)
  packages/client/.eslintrc.json
  packages/client/.stylelintrc.json
  packages/client/package.json
  packages/client/src/api/auth.api.ts
  packages/client/src/core/vars.scss
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/Login/Login.tsx
  packages/client/src/models/auth.model.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/server/package.json
  yarn.lock
Due: frontend-linter

error boundary для проекта
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: frontend-linter

adds register page layout (with no logics)
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/core/vars.scss
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/features/Register/common.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  yarn.lock
Due: frontend-linter

WIZ-26: adds register page layout (with no logics) (#5)
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/core/vars.scss
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/features/Register/common.ts
  packages/client/src/models/auth.model.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  yarn.lock
Due: frontend-linter

feat:(WIZ-18) adds gameBoard and propertyCard
  packages/client/.eslintrc.json
  packages/client/.stylelintrc.json
  packages/client/package.json
  packages/client/src/components/GameBoard/GameBoard.scss
  packages/client/src/components/GameBoard/GameBoard.tsx
  packages/client/src/components/PropertyCard/PropertyCard.scss
  packages/client/src/components/PropertyCard/PropertyCard.tsx
  packages/client/src/core/App/App.scss
  packages/client/src/core/App/App.tsx
  packages/client/src/core/vars.scss
  packages/client/src/styles/main.scss
  packages/client/src/styles/vars.scss
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

Adds Landing page
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/core/Router/routes.ts
  packages/client/src/features/Landing/Landing.scss
  packages/client/src/features/Landing/Landing.tsx
  packages/client/src/features/Landing/index.ts
  packages/client/src/pages/MainPage/MainPage.tsx
Due: frontend-linter

Adds Landing page
  packages/client/src/app/store.ts
  packages/client/src/assets/images/landing-bg.webp
Due: frontend-linter

Adds translations for Landing page
  packages/client/src/features/Register/common.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

Adds .prettierignore
  packages/client/.prettierignore
Due: none

Refactors Landing.scss
  packages/client/src/features/Landing/Landing.scss
Due: none

Adds GameRulesModal
  packages/client/src/app/slices/gameSettingsSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/features/GameRulesModal/GameRulesModal.scss
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
  packages/client/src/features/GameRulesModal/index.ts
  packages/client/src/features/Landing/Landing.tsx
  packages/client/src/features/Register/common.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  yarn.lock
Due: frontend-linter

Replaces ok and cancel buttons with close one in GameRulesModal
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
  packages/client/src/features/Register/common.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

adds end game page
  packages/client/.prettierignore
  packages/client/src/assets/images/landing-bg.webp
  packages/client/src/core/Router/Router.tsx
  packages/client/src/core/Router/routes.ts
  packages/client/src/features/EndGame/EndGame.scss
  packages/client/src/features/EndGame/EndGame.tsx
  packages/client/src/features/EndGame/index.ts
  packages/client/src/features/Register/common.ts
  packages/client/src/pages/EndGamePage/EndGamePage.scss
  packages/client/src/pages/EndGamePage/EndGamePage.tsx
  packages/client/src/pages/EndGamePage/index.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  yarn.lock
Due: frontend-linter

feat:(WIZ-31) adds StartGamePage
  packages/client/.prettierignore
  packages/client/package.json
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/app/store.ts
  packages/client/src/assets/coca_cola.svg
  packages/client/src/core/App/App.tsx
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/i18n.ts
  packages/client/src/features/Login/Login.scss
  packages/client/src/features/Login/Login.tsx
  packages/client/src/features/Register/Register.scss
  packages/client/src/features/Register/Register.tsx
  packages/client/src/pages/StartGamePage/StartGamePage.scss
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
  packages/client/src/pages/StartGamePage/i18n.ts
  packages/client/src/pages/StartGamePage/index.ts
  packages/client/src/styles/main.scss
  packages/client/src/styles/vars.scss
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
  packages/client/vite.config.ts
  yarn.lock
Due: frontend-linter

feat:(WIZ-31) adds StartGamePage
  packages/client/.eslintrc.json
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/assets/coca_cola.svg
  packages/client/src/constants/main.ts
  packages/client/src/core/App/App.tsx
  packages/client/src/core/Router/Router.tsx
  packages/client/src/core/Router/routes.ts
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/i18n.ts
  packages/client/src/pages/index.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

removes payload for showGameRules action
  packages/client/src/app/slices/gameSettingsSlice.ts
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
  packages/client/src/features/Landing/Landing.tsx
Due: frontend-linter

небольшие правки + универсальная страница ошибки
  packages/client/index.html
  packages/client/src/components/Loader/Loader.scss
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/pages/ErrorPage/ErrorPage.scss
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
Due: frontend-linter

ревью
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
Due: frontend-linter

feat:(WIZ-31) adds validation
  packages/client/.eslintrc.json
  packages/client/src/app/slices/gameSlice.ts
  packages/client/src/constants/main.ts
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/InputPlayerColor.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/index.ts
  packages/client/src/features/GameSetup/InputPlayerName/InputPlayerName.tsx
  packages/client/src/features/GameSetup/InputPlayerName/index.ts
  packages/client/src/features/GameSetup/i18n.ts
  packages/client/src/features/GameSetup/index.ts
  packages/client/src/features/GameSetup/types.ts
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

feat:(WIZ-31) edits gameSetup layout
  packages/client/src/features/GameSetup/GameSetup.tsx
Due: frontend-linter

разделение страниц ошибок + англ и ру текст
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/core/Router/Router.tsx
  packages/client/src/pages/ClientErrorPage/ClientErrorPage.tsx
  packages/client/src/pages/ClientErrorPage/common.ts
  packages/client/src/pages/ClientErrorPage/index.ts
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
  packages/client/src/pages/ErrorPage/index.ts
  packages/client/src/pages/ServerErrorPage/ServerErrorPage.tsx
  packages/client/src/pages/ServerErrorPage/common.ts
  packages/client/src/pages/ServerErrorPage/index.ts
  packages/client/src/pages/index.ts
  packages/client/src/translations/locales/en.json
  packages/client/src/translations/locales/ru.json
Due: frontend-linter

фикс линтера
  packages/client/src/pages/ClientErrorPage/ClientErrorPage.tsx
  packages/client/src/pages/ServerErrorPage/ServerErrorPage.tsx
Due: frontend-linter

separates translation messages for LandingPage and GameRulesModal
  packages/client/src/features/GameRulesModal/i18n.ts
  packages/client/src/features/Landing/i18n.ts
  packages/client/src/features/Register/common.ts
Due: frontend-linter

moves useAppDispatch and useAppSelector from store.ts to hooks.ts
  packages/client/src/app/hooks.ts
  packages/client/src/app/store.ts
Due: frontend-linter

replaces selectIsLoggedIn with selectIsAuth
  packages/client/src/app/slices/userSlice.ts
  packages/client/src/features/Landing/Landing.tsx
Due: frontend-linter

uses import aliases
  packages/client/src/core/App/App.tsx
  packages/client/src/features/GameRulesModal/GameRulesModal.tsx
Due: frontend-linter

moves messages from common.ts to i18n.ts for EndGame component
  packages/client/src/features/EndGame/EndGame.tsx
  packages/client/src/features/EndGame/i18n.ts
  packages/client/src/features/Register/common.ts
Due: frontend-linter

uses import alias
  packages/client/src/pages/EndGamePage/EndGamePage.tsx
Due: frontend-linter

uses import alias
  packages/client/src/pages/MainPage/MainPage.tsx
Due: frontend-linter

feat:(WIZ-31) edits gameSetup validation
  packages/client/src/features/GameSetup/GameSetup.tsx
  packages/client/src/features/GameSetup/InputPlayerColor/InputPlayerColor.tsx
  packages/client/src/features/GameSetup/InputPlayerName/InputPlayerName.tsx
  packages/client/src/pages/StartGamePage/StartGamePage.scss
  packages/client/src/pages/StartGamePage/StartGamePage.tsx
  packages/client/src/translations/locales/en.json
Due: frontend-linter

замена компонента в EB
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: frontend-linter

Path conditions:
  frontend-linter: any of: *.{ts,tsx} and ^packages/client/
  backend-linter: any of: *.{ts,tsx} and ^packages/server/
